body {
  background-color: #1f2937
}

.heading {
  font-size: 24px;
  font-style: bold;


}


.container {
  display: flex;
  border: #f00909 solid 10px;
   

}

.Logo {
  color:#f9faf8;
  font-size: 48px;
  font-style: bold;
  flex: 1; 

}


.More-info-1 {
  color:#f9faf8;
  font-size: 24px;
  flex: 1;


}

.More-info-2 {
  color:#f9faf8;
  font-size: 24px;
  flex: 1;
}

.More-info-3 {
  color:#f9faf8;
  font-size: 24px;
  flex: 1;
}

.container-img {
  display: flex;
  justify-content: flex-start;
  border: 10px solid #f00909;
  margin-bottom: 1rem;
  
}

.paragraph {
  color:#f9faf8;
 
}

img { 
  width: 600px;
  height: 300px;
}

strong {
  font-size: 48px;  
  color: #F9FAF8;
}